{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>Here image Upload it....</h1>
        <img src="{% static 'images/itachi-uchiha-naruto.jpg' %}" alt="" width="500" height="600">
        <div>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, velit accusamus quae voluptas voluptatum illum commodi, earum ducimus, eum temporibus libero laboriosam natus ipsa veniam totam eos recusandae assumenda officiis!</h1>
            <img src="{% static 'images/Welcome .jpg' %}" alt="">
        </div>
    </center>
</body>
</html>